body {
  font-family: "Mulish", sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  line-height: normal;
  margin: 0;
}

.section {
  margin-bottom: 200px;
  overflow: hidden;
}
.section-welcome {
  margin-top: 177px;
}
.section-info {
  position: relative;
}
.section-info_bg_points::before {
  content: url(img/main/benefits/bg-benefits.svg);
  position: absolute;
  right: 13%;
  top: 461px;
}
@media (max-width: 992px) {
  .section-info_bg_points::before {
    display: none;
  }
}
.section-actual {
  overflow: hidden;
}
.section-services {
  overflow: hidden;
}
.section-header {
  margin-right: 10%;
  margin-left: 10%;
}
.section-header_mb_large {
  margin-bottom: 82px;
}
.section-header_mb_medium {
  margin-bottom: 66px;
}
.section-header_mb_small {
  margin-bottom: 37px;
}
.section-header__top {
  margin-bottom: 38px;
}
.section-header__title {
  position: relative;
  padding-bottom: 28px;
  font-weight: bold;
  font-size: 36px;
}
.section-header__title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  left: 0px;
  right: 0px;
}
.section-header__title_light {
  color: #FFFFFF;
}
.section-header__title_light .section-header__title:after {
  background: #FFFFFF;
}
@media (max-width: 992px) {
  .section-header__title {
    font-size: 32px;
  }
}
@media (max-width: 587px) {
  .section-header__title {
    font-size: 24px;
  }
}
.section-header__description {
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
}
@media (max-width: 587px) {
  .section-header__description {
    font-size: 16px;
  }
}
.section-header_center {
  text-align: center;
}
.section-header_center .section-header__title:after {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 992px) {
  .section-header_center_lg {
    text-align: center;
  }
  .section-header_center_lg .section-header__title:after {
    margin-left: auto;
    margin-right: auto;
  }
}

.header-background {
  background-color: rgba(255, 255, 255, 0.979);
}

.nav-item:nth-child(-n+4) {
  margin-right: 20px;
}

.nav-link:hover {
  text-shadow: 0.2px 0.2px black;
}

.btn {
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  min-height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-primary {
  background-color: #458FF6;
}
.btn-w-md {
  max-width: 200px;
  width: 100%;
}
.btn-m-arrow {
  margin-left: 14px;
}
.btn:hover .arrow-style-hover {
  fill: #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.welcome {
  position: relative;
}
.welcome::before {
  content: url("./img/main/welcome/bg-welcome.svg");
  position: absolute;
  left: -110px;
  top: 149px;
}
@media (max-width: 992px) {
  .welcome::before {
    display: none;
  }
}
.welcome__header {
  margin-bottom: 25px;
}
.welcome__header_title {
  font-weight: bold;
  font-size: 48px;
}
@media (max-width: 576px) {
  .welcome__header_title {
    font-size: 32px;
  }
}
.welcome__body {
  margin-bottom: 45px;
}
.welcome__body_description {
  font-weight: 300;
  font-size: 24px;
  color: #7D7987;
}
@media (max-width: 576px) {
  .welcome__body_description {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .welcome__footer {
    position: absolute;
    bottom: -100px;
    left: 1%;
    right: 1%;
  }
}

.services {
  position: relative;
}
.services::before {
  content: url("./img/main/services/bg-services-points.svg");
  position: absolute;
  right: 14px;
  top: 687px;
  z-index: -1;
}
@media (max-width: 992px) {
  .services::before {
    display: none;
  }
}
.services::after {
  content: url("./img/main/services/bg-services.svg");
  position: absolute;
  left: -505px;
  top: -16px;
  z-index: -1;
}
@media (max-width: 992px) {
  .services::after {
    display: none;
  }
}
.services-btn__wrapper {
  text-align: center;
}

.review-wrapper {
  padding: 65px 118px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  position: relative;
}
@media (max-width: 992px) {
  .review-wrapper {
    padding: 40px 50px;
  }
}
@media (max-width: 576px) {
  .review-wrapper {
    padding: 40px 10px;
  }
}
.review-wrapper::before {
  content: url(img/main/review/bg-review-light.svg);
  position: absolute;
  right: -50px;
  top: -15px;
}
@media (max-width: 992px) {
  .review-wrapper::before {
    display: none;
  }
}
.review-wrapper::after {
  content: url(img/main/review/bg-review-dark.svg);
  position: absolute;
  left: -53px;
  bottom: 25px;
  z-index: -1;
}
@media (max-width: 992px) {
  .review-wrapper::after {
    display: none;
  }
}
.review-personality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .review-personality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.review-personality__user-photo {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.review-personality__user-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4px;
}
.review-personality__content {
  padding-left: 30px;
}
@media (max-width: 576px) {
  .review-personality__content {
    padding: 0;
    text-align: center;
  }
}
.review-personality__user-name {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}
.review-personality__user-work {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
.review-text {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 576px) {
  .review-text {
    text-align: center;
  }
}

.actual {
  position: relative;
  margin-bottom: 70px;
}
.actual::before {
  content: url(img/main/actual/actual-bg.svg);
  position: absolute;
  top: -171px;
  right: -595px;
  z-index: -1;
}
@media (max-width: 992px) {
  .actual::before {
    display: none;
  }
}
.actual::after {
  content: url(img/main/actual/actual-bg-points.svg);
  position: absolute;
  left: -44px;
  top: -47px;
  z-index: -1;
}
@media (max-width: 992px) {
  .actual::after {
    display: none;
  }
}

.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: #ffffff;
}
.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  padding: 118px 0;
  position: relative;
}
@media (max-width: 992px) {
  .footer-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer-wrapper::after {
  content: url(img/footer/footer-element.svg);
  position: absolute;
  left: -154px;
  bottom: 0px;
}
@media (max-width: 992px) {
  .footer-wrapper::after {
    display: none;
  }
}
.footer-wrapper::before {
  content: url(img/footer/footer-decor.svg);
  position: absolute;
  z-index: -1;
  right: -59px;
  top: -70px;
}
@media (max-width: 1400px) {
  .footer-wrapper::before {
    display: none;
  }
}
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .footer-content {
    margin-bottom: 30px;
  }
}
.footer-content__text {
  color: #ffffffc5;
  padding-top: 17px;
  padding-bottom: 31px;
  font-size: 18px;
}
.footer-content__copyright {
  color: #ffffffc5;
}
.footer-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
@media (max-width: 992px) {
  .footer-menu {
    margin: 0 10%;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .footer-menu {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
.footer-menu__title {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.footer-menu__list {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.footer-menu__item {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffffc5;
}
.footer-menu__item:hover {
  color: #2f1b64;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.card-list {
  margin: 0 50px;
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 36px 1fr 36px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
@media (max-width: 992px) {
  .card-list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .card-list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin: 0 5%;
    margin-bottom: 50px;
  }
}
.card-item {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.card-item__body {
  padding: 35px;
}
.card-item__img {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}
.card-item__img_actual {
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
}
.card-item__img_actual img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-item__title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}
.card-item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
.card-item__text_mb {
  padding-bottom: 30px;
}
.card-item__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}
.card-item__link:hover .card__link_arrow_blackout {
  fill: #2458a0;
}

@media (max-width: 768px) {
  .info__img img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .info__img {
    margin-bottom: 70px;
  }
}
/*# sourceMappingURL=main.css.map */