body {
  font-family: "Mulish", sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  line-height: normal;
  margin: 0;
}

.section {
  overflow: hidden;
  padding-bottom: 200px;
}
@media (max-width: 1025px) {
  .section {
    padding-bottom: 100px;
  }
}
.section-welcome {
  margin-top: 177px;
  position: relative;
}
.section-services {
  overflow: hidden;
  position: relative;
}
.section-info {
  position: relative;
}
.section-actual {
  position: relative;
}

.header-background {
  background-color: rgba(255, 255, 255, 0.979);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header.header__scroll {
  -webkit-box-shadow: 0px -2px 7px #00000078;
          box-shadow: 0px -2px 7px #00000078;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.nav-item:nth-child(-n+4) {
  margin-right: 20px;
}

.nav-link:hover {
  text-shadow: 0.2px 0.2px black;
}

.btn {
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  min-height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1025px) {
  .btn {
    min-height: 45px;
  }
}
.btn-primary {
  background-color: #458FF6;
}
.btn-w-md {
  max-width: 200px;
  width: 100%;
}
.btn-m-arrow {
  margin-left: 14px;
}
.btn:hover .arrow-style-hover {
  fill: #ffffff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.welcome {
  position: relative;
}
.welcome__header {
  margin-bottom: 25px;
}
.welcome__header_title {
  font-weight: bold;
  font-size: 48px;
}
@media (max-width: 576px) {
  .welcome__header_title {
    font-size: 32px;
  }
}
.welcome__body {
  margin-bottom: 45px;
}
.welcome__body_description {
  font-weight: 300;
  font-size: 24px;
  color: #7D7987;
}
@media (max-width: 576px) {
  .welcome__body_description {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .welcome__footer {
    margin-bottom: 30px;
  }
}

.services {
  position: relative;
}
.services-btn__wrapper {
  text-align: center;
}

.review-wrapper {
  padding: 65px 70px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 24px;
  position: relative;
}
@media (max-width: 992px) {
  .review-wrapper {
    padding: 40px 50px;
  }
}
@media (max-width: 576px) {
  .review-wrapper {
    padding: 40px 10px;
  }
}
.review__swiper .swiper-button-prev {
  color: #FFFFFF !important;
}
@media (max-width: 576px) {
  .review__swiper .swiper-button-prev {
    display: none;
  }
}
.review__swiper .swiper-button-next {
  color: #FFFFFF !important;
}
@media (max-width: 576px) {
  .review__swiper .swiper-button-next {
    display: none;
  }
}
.review__swiper .swiper-pagination-bullet {
  background: #FFFFFF !important;
}
.review__swiper-slide {
  padding: 35px 70px;
}
@media (max-width: 576px) {
  .review__swiper-slide {
    padding: 10px 10px 30px 10px;
  }
}
.review-personality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 576px) {
  .review-personality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.review-personality__user-photo {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.review-personality__user-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4px;
  border-radius: 50%;
}
.review-personality__content {
  padding-left: 30px;
}
@media (max-width: 576px) {
  .review-personality__content {
    padding: 0;
    text-align: center;
  }
}
.review-personality__user-name {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}
.review-personality__user-work {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.9);
}
.review-text {
  font-size: 19px;
  max-height: 150px;
  overflow: auto;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 576px) {
  .review-text {
    text-align: center;
    max-height: 200px;
  }
}

.actual {
  position: relative;
  margin-bottom: 70px;
}

.footer {
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: #ffffff;
  position: relative;
}
.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 120px 2fr;
  grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 120px;
     -moz-column-gap: 120px;
          column-gap: 120px;
  padding: 118px 0;
  position: relative;
}
@media (max-width: 992px) {
  .footer-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 992px) {
  .footer-content {
    margin-bottom: 30px;
  }
}
.footer-content__text {
  color: #ffffffc5;
  padding-top: 17px;
  padding-bottom: 31px;
  font-size: 18px;
}
.footer-content__copyright {
  color: #ffffffc5;
}
.footer-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 992px) {
  .footer-menu {
    margin: 0 10%;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media (max-width: 576px) {
  .footer-menu {
    -ms-grid-columns: 1fr 15px 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
.footer-menu__title {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 18px;
}
.footer-menu__list {
  list-style: none;
  padding: 0px;
  margin: 0;
}
.footer-menu__item {
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  color: #ffffffc5;
}
.footer-menu__item:hover {
  color: #2f1b64;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.card-list {
  margin-bottom: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 36px 1fr 36px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
}
@media (max-width: 992px) {
  .card-list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
  }
}
@media (max-width: 576px) {
  .card-list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-item {
  background: #FFFFFF;
  -webkit-box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
          box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  height: 100%;
}
.card-item__body {
  padding: 35px;
}
.card-item__img {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 30px;
}
.card-item__img_actual {
  -o-object-fit: cover;
     object-fit: cover;
  height: 240px;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}
.card-item__img_actual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
}
.card-item .transition {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.card-item__title {
  font-weight: bold;
  font-size: 24px;
  color: #000000;
  margin-bottom: 10px;
}
.card-item__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
.card-item__text_mb {
  padding-bottom: 30px;
}
.card-item__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}
.card-item__link:hover .card__link_arrow_blackout {
  fill: #2458a0;
}

@media (max-width: 768px) {
  .info__img img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .info__img {
    margin-bottom: 70px;
  }
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: rgba(238, 238, 238, 0.678);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  border-radius: 8px;
  border: 1px solid #f3f3f3;
}

::-webkit-scrollbar-thumb:hover {
  background: #458ff6;
  cursor: pointer;
}

.rellax__welcome {
  z-index: -1;
  position: absolute;
  top: 7%;
  left: 7%;
}
@media (max-width: 1441px) {
  .rellax__welcome {
    left: -2%;
  }
}
@media (max-width: 1025px) {
  .rellax__welcome {
    display: none;
  }
}
.rellax__services {
  z-index: -1;
  position: absolute;
  top: 21%;
  left: -6%;
}
@media (max-width: 1441px) {
  .rellax__services {
    display: none;
  }
}
.rellax__services_points {
  z-index: -1;
  position: absolute;
  top: 111.3%;
  right: 14.5%;
}
@media (max-width: 1441px) {
  .rellax__services_points {
    display: none;
  }
}
.rellax__info {
  z-index: 1;
  position: absolute;
  top: 160%;
  right: 14.5%;
}
@media (max-width: 1441px) {
  .rellax__info {
    display: none;
  }
}
.rellax__review {
  position: absolute;
  left: 13.5%;
  bottom: -138.5%;
}
@media (max-width: 1441px) {
  .rellax__review {
    display: none;
  }
}
.rellax__review_internal {
  position: absolute;
  bottom: 272.3%;
  right: -4%;
}
@media (max-width: 1441px) {
  .rellax__review_internal {
    display: none;
  }
}
.rellax__actual {
  position: absolute;
  bottom: -25%;
  left: 50%;
}
@media (max-width: 1441px) {
  .rellax__actual {
    display: none;
  }
}
.rellax__actual_points {
  position: absolute;
  bottom: 3%;
  left: 14.5%;
}
@media (max-width: 1441px) {
  .rellax__actual_points {
    display: none;
  }
}
.rellax__footer_dark {
  position: absolute;
  top: -225.5%;
  left: 0.5%;
}
@media (max-width: 1441px) {
  .rellax__footer_dark {
    display: none;
  }
}
.rellax__footer_light {
  position: absolute;
  bottom: -207.5%;
  right: 5%;
  z-index: -1;
}
@media (max-width: 1441px) {
  .rellax__footer_light {
    display: none;
  }
}

.section-header {
  margin-right: 10%;
  margin-left: 10%;
}
.section-header_mb_large {
  margin-bottom: 82px;
}
.section-header_mb_medium {
  margin-bottom: 66px;
}
.section-header_mb_small {
  margin-bottom: 37px;
}
.section-header__top {
  margin-bottom: 38px;
}
.section-header__title {
  position: relative;
  padding-bottom: 28px;
  font-weight: bold;
  font-size: 36px;
}
.section-header__title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  left: 0px;
  right: 0px;
}
.section-header__title_light {
  color: #FFFFFF;
}
.section-header__title_light .section-header__title:after {
  background: #FFFFFF;
}
@media (max-width: 992px) {
  .section-header__title {
    font-size: 32px;
  }
}
@media (max-width: 587px) {
  .section-header__title {
    font-size: 24px;
  }
}
.section-header__description {
  font-weight: 300;
  font-size: 18px;
  color: #7D7987;
}
@media (max-width: 587px) {
  .section-header__description {
    font-size: 16px;
  }
}
.section-header_center {
  text-align: center;
}
.section-header_center .section-header__title:after {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 992px) {
  .section-header_center_lg {
    text-align: center;
  }
  .section-header_center_lg .section-header__title:after {
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=main.css.map */