.actual{
  position: relative;
  margin-bottom: 70px;
  &-rellax{
    position: absolute;
    bottom: -4570px;
    left: 950px;
    
    &-points{
      position: absolute;
      bottom: -4268px;
      left: 300px;
    }
  }
}







