.actual{
  position: relative;
  margin-bottom: 70px;
  &::before{
    content: url(img/main/actual/actual-bg.svg);
    position: absolute;
    top: -171px;
    right: -595px;
    z-index: -1;
  }
  &::after{
    content: url(img/main/actual/actual-bg-points.svg);
    position: absolute;
    left: -44px;
    top: -47px;
    z-index: -1;
  }
  
}







