.btn{
  border-radius: 55px;
  font-weight: bold;
  font-size: 18px;
  min-height: 56px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1025px) {
    min-height: 45px;
  }
  &-primary{
    background-color: #458FF6;
  }
  &-w-md{
    max-width: 200px;
    width: 100%;
  }
  &-m-arrow{
    margin-left: 14px;
  }
  &:hover .arrow-style-hover{
    fill: #ffffff;
    transition-duration: 0.2s;
  }
}