.footer{
  background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
  color: #ffffff;
  position: relative;
  &_rellax_dark{
    position: absolute;
    bottom: 1330px;
    left: 1px;
  }
  &_rellax_light{
    position: absolute;
    bottom: 1765px;
    right: 50px;
    z-index: -1;
  }
  &-wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 120px;
    padding: 118px 0;
    position: relative;
    @media (max-width: 992px) {
      grid-template-columns: 1fr;
    }
  }
  &-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
    &__text{
      color: #ffffffc5;
      padding-top: 17px;
      padding-bottom: 31px;
      font-size: 18px;
    }
    &__copyright{
      color: #ffffffc5;
    }
  }
  &-menu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    @media (max-width: 992px) {
      margin: 0 10%;
      grid-template-columns: repeat(3,1fr);
      gap: 30px;
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(2,1fr);
      gap: 15px;
    }
    &__title{
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      color: #FFFFFF;
      margin-bottom: 18px;
    }
    &__list{
      list-style: none;
      padding: 0px;
      margin: 0;
    }
    &__item{
      text-decoration: none;
      font-weight: 300;
      font-size: 18px;
      line-height: 38px;
      color: #ffffffc5;
      &:hover{
        color: #2f1b64;
        transition-duration: 0.3s;
        
      }
    }
  }
}
