.header{
  &__logo:hover{
    .header__logo_circle{
      fill: #458ff6d5;
      transition: .3s;
    }
    .header__logo_text{
      fill: rgba(0, 0, 0, 0.582);
      transition: .3s;
    }
  }
  &-background{
    background-color: rgba(255, 255, 255, 0.979);
    transition: 0.7s;
  }
  &.header__scroll{
    box-shadow: 0px -2px 7px #00000078;
    transition: 0.7s;
  }
}

.nav-item{
  &:nth-child(-n+4){
    margin-right: 20px;
  }
}
.nav-link{
  &:hover{
    text-shadow: 0.2px 0.2px rgb(0, 0, 0);
  }
}
.navbar-toggler:focus{
  box-shadow: none;
}
.nav-pills .nav-link.active{
  background-color: rgba(255, 0, 0, 0) !important;
}
.navbar-light .navbar-nav .nav-link.active{
  color: #458FF6;
}