.header{
  &-background{
    background-color: rgba(255, 255, 255, 0.979);
  }
}
.nav-item{
  &:nth-child(-n+4){
    margin-right: 20px;
  }
}
.nav-link{
  &:hover{
    text-shadow: 0.2px 0.2px rgb(0, 0, 0);
  }
}