.review{
  &-wrapper{
    padding: 65px 70px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    position: relative;
    @media (max-width: 992px) {
      padding: 40px 50px;
    }
    @media (max-width: 576px) {
      padding: 40px 10px;
    }
    &-rellax{
      position: absolute;
      bottom: 1350px;
      right: -51px;
    }
    
  }
  &-rellax{
    position: absolute;
    left: 260px;
    bottom: -650px; 
  }
  &__swiper{
    & .swiper-button-prev{
      color: #FFFFFF !important;
    }
    & .swiper-button-next{
      color: #FFFFFF !important;
    }
    
    & .swiper-pagination-bullet{
      background: #FFFFFF !important;
    }
    &-slide{
      padding: 35px 70px;
    }
  }
  &-personality{
    display: flex;
    align-items: center;
    @media (max-width: 576px) {
      flex-direction: column;
    }
    &__user-photo{
      width: 141px;
      height: 141px;
      border-radius: 50%;
      background: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 4px;
        border-radius: 50%;
      }
    }
    &__content{
      padding-left: 30px;
      @media (max-width: 576px) {
        padding: 0;
        text-align: center;
      }
    }
    &__user-name{
      font-size: 22px;
      font-weight: bold;
      color: #FFFFFF;
    }
    &__user-work{
      font-size: 18px;
      color: rgba(255, 255, 255, 0.9);
    }
  }
  &-text{
    font-size: 19px;
    color: rgba(255, 255, 255, 0.9);
    @media (max-width: 576px) {
      text-align: center;
    }
  }
}













