.section{
  overflow: hidden;
  padding-bottom: 200px;
  @media (max-width: 1025px) {
    padding-bottom: 100px;
  }
  &-welcome{
    margin-top: 177px;
    position: relative;
  }
  &-services{
    overflow: hidden;
    position: relative;
  }
  &-info{
    position: relative;
  }
  &-actual{
    position: relative;
  }
}
